/* src/components/additionalService/ServiceCard.module.css */
.serviceCard {

    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }
  
  .serviceName {
    font-size: 1.6em;
    font-weight: bold;
  }
  
  .serviceDescription {
    color: #777;
    font-size: 1em;
  }
  